*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	background-color: #F5F5F5;
	font-family: Arial, sans-serif;
	margin: 0;
}

header,
main,
nav {
	background-color: white;
	margin: 20px auto;
	padding: 10px;
	width: 1000px;
}

header {
	border: 2px solid green;
	color: green;
	font-size: 3rem;
	text-align: center;
}

nav {
	
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li {
	display: inline-block;
	padding: 5px;
}
nav ul li a {
	color: green;
}
nav ul li a:hover {
	color: darkgreen;
	text-decoration-thickness: 5px;
	text-underline-offset: 3px;
}

img {
	width: 500px;
}

#date {
	border: 2px solid green;
	font-size: 2rem;
	line-height: 1.3;
	padding: 5px;
	text-align: center;
}

#date:hover {
	border-radius: 50px;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15) inset;
}

#timetables {
	margin: 0;
	padding: 10px 0;
}

#timetables li {
	list-style: none;
	padding: 10px 0;
}

#timetables a {
	background-color: green;
	border-radius: 5px;
	color: white;
	padding: 8px;
	transition: background-color 0.2s, box-shadow 0.2s;
}
#timetables a:hover {
	background-color: darkgreen;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#apply {
	border: 2px solid green;
	font-size: 2.5rem;
	padding: 10px;
}

#apply a {
	color: green;
	transition: color 0.25s, outline 0.25s, border-radius 0.25s, box-shadow 0.25s, background-color 0.25s;
}

#apply a:hover {
	border-radius: 50px;
	box-shadow: 0 40px 80px rgba(0, 0, 0, 0.25);
	color: coral;
	outline: 10px solid coral;
}

#apply a:focus {
	background-color: red;
	box-shadow: 0 100px 200px rgba(0, 0, 0, 0.8);
}

.news {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	margin: 15px;
	padding: 15px;
}
.news:hover {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.news-title {
	font-size: 2rem;
	font-weight: normal;
	margin: 0;
}

.news-date {
	color: #555;
	margin-top: 10px;
	margin-bottom: 20px;
	text-decoration: underline;
	text-underline-offset: 6px;
}

.news-body {
	line-height: 2;
}

.timetable-header {
	border: 10px solid green;
	font-size: 2rem;
	padding: 10px;
	text-align: center;
}

#ikea {
	border: 10px solid #FECB00;
	outline: 10px solid #005293;
}

.ikea-text {
	color: #005293;
}

#timetable-operator {
	font-family: serif;
	font-size: 1.2rem;
	font-style: italic;
}

table {
	border-collapse: collapse;
	margin: 15px 0;
}

td, th, tr {
	border: 1px solid #a2a9b1;
}

td, th {
	padding: 8px;
}

th {
	background-color: #eaecf0;
	text-align: right;
}

td {
	background-color: #f8f9fa;
}

.guides-title {
	border-bottom: 1px solid #a2a9b1;
	border-top: 1px solid #a2a9b1;
	display: inline-block;
	font-weight: normal;
	margin: 10px 0;
	padding: 10px 0;
}

.guides-return {
	padding: 2px 0;
	text-decoration: underline overline;
	text-decoration-color: #a2a9b1;
}
